<ul class="nav nav-tabs ms-3 nav-tabs-border-width-2">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="/transactions"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >
        Add Transaction
        </a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/transactions/get"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >View Transactions</a
      >
    </li>  
  </ul>
  
  <div class="container-fluid mt-2 my-container">
      <router-outlet></router-outlet>
  </div>
  