<div class="row col-md-12">
  <div class="col col-md-9" style="height: 91vh">
    <img
      style="object-fit: cover; width: 100%; height: 100%"
      src="../../assets/8953254.jpg"
      alt="bank ui image"
    />
  </div>
  <div class="col-md-3">
    <div class="container-fluid h-40">
      <button
        class="btn btn-outline-primary col-md-12 my-3"
        routerLink="/customers"
      >
        GO TO CUSTOMERS
      </button>
      <button
        class="btn btn-outline-warning col-md-12 my-3"
        routerLink="/accounts"
      >
        GO TO ACCOUNTS
      </button>
      <button
        class="btn btn-outline-success col-md-12 my-3"
        routerLink="/transactions"
      >
        GO TO TRANSACTIONS
      </button>
    </div>

    <div class="container-fluid">
      <p class="text-secondary fst-italic fs-5">
        WELCOME TO THE APNA BANK WHERE EVERYTHING IS APNA
      </p>
      <table class="table table-info table-striped table-hover caption-top">
        <caption class="text-uppercase">
          Todays intrest rates
        </caption>
        <thead class="thead thead-secondary">
          <tr>
            <th>ACCOUNT TYPE</th>
            <th>INTEREST RATE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Savings</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>Current</td>
            <td>0%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
