<table
  class="table table-striped table-hover table-bordered"
  *ngIf="transactionList && transactionList.length > 0"
>
  <thead>
    <tr class="table-primary">
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList">
      <td>{{ transaction.transactionId }}</td>
      <td>{{ transaction.accountNo }}</td>
      <td>
        {{ transaction.transactionType ? "Deposit" : "Withdraw" }}
      </td>
      <td>{{ transaction.transactionTime | date : "medium" }}</td>
      <td>
        <span class="text-success" *ngIf="transaction.transactionType == true"
          >+Rs.{{ transaction.transactionAmount }}/-</span
        >
        <span class="text-danger" *ngIf="transaction.transactionType == false"
          >-Rs.{{ transaction.transactionAmount }}/-</span
        >
      </td>
      <td>Rs.{{ transaction.availableBalance }}/-</td>
    </tr>
  </tbody>
</table>
